<form [formGroup]="personForm">
  <label>First name:</label>
  <input formControlName="firstName">
  <app-valdr-error [control]="this.personForm.get('firstName')">
  </app-valdr-error>
  <br>
  <label>Username:</label>
  <input formControlName="username">
  <app-valdr-error [control]="this.personForm.get('username')">
  </app-valdr-error>
  <br>
  <label>E-mail:</label>
  <input formControlName="email">
  <app-valdr-error [control]="this.personForm.get('email')"></app-valdr-error>
  <br>
  <label>Age:</label>
  <input formControlName="age" type="number">
  <app-valdr-error [control]="this.personForm.get('age')"></app-valdr-error>
  <br>
  <label>Homepage: </label>
  <input formControlName="homepage">
  <app-valdr-error [control]="this.personForm.get('homepage')"></app-valdr-error>
  <br>
  <label>Address line 1: </label>
  <input formControlName="addressLine1">
  <app-valdr-error [control]="this.personForm.get('addressLine1')"></app-valdr-error>
  <br>
  <label>My value: </label>
  <input formControlName="myValue">
  <app-valdr-error [control]="this.personForm.get('myValue')"></app-valdr-error>
  <p>See the browsers console for a short demo of how manually calling the validation can be achieved.</p>
</form>
